a {
  background-color: rgb(160, 84, 231);
  text-decoration: none;
  font-size: 15pt;
  color: rgb(238, 201, 133);
  border: 2px solid rgb(64, 17, 108);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
a:hover {
  background-color: rgb(238, 201, 133);
  color: rgb(160, 84, 231);
}
body {
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  background-color: rgb(245, 230, 220);
}
img {
  width: 100%;
}
article,
nav,
header {
  padding: 10px;
}
h2 {
  border-bottom: 5px solid brown;
}
#scot {
  background-color: rgb(65, 20, 29);
  padding: 10px;
  color: rgb(245, 230, 220);
}
#savannah {
    background-color: rgb(59, 64, 98);
    padding: 10px;
    color: rgb(245, 230, 220);
}
#bengali {
    background-color: rgb(93, 145, 98);
    padding: 10px;
    color: rgb(245, 230, 220);
}
